* {
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
    background: linear-gradient(to right bottom, #1A50D9, #0BC7D4, #01EBB7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    padding: 2rem;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.35));
    backdrop-filter: blur(1.25rem);
    border-radius: 2rem;
    min-height: 100%;
    width: 75%;
    z-index: 5;
}

.profile img {
    border-radius: 2rem;
    width: 120px;
    height: 140px;
}

.profile h2 {
    font-family: 'Archivo', sans-serif;
    background-image: linear-gradient(to right top, #221E5A, #1A4CD9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile p {
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
}

.content {
    padding: 2rem 0rem 2rem 0rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.35));
    backdrop-filter: blur(1.25rem);
    border-radius: 2rem;
    min-height: 100%;
    width: 85%;
    z-index: 5;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project1, .project2, .project3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content img, .project1 img, .project2 img, .project3 img {
    height: 250px;
    width: 250px;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15));
    opacity: 1;
    display: grid;
    transition: .5s ease;
    backface-visibility: hidden;
}

.content img:hover, .project1 img:hover, .project2 img:hover, .project3 img:hover {
    opacity: 0.5;
}

.title h2 {
    font-family: 'Archivo', sans-serif;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #221E5A, #1A4CD9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem 0rem 2rem 0rem;
}

.image {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.description {
    height: 50%;
    width: 50%;
}
.description p {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15));
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
    font-family: 'Padauk', sans-serif;
    padding-bottom: 2rem;
}

.contacts img {
    height: 30px;
    width: 30px;
}


