* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #0065c4, #00b5ec);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: white;
    min-height: 80vh;
    min-width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.35));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(1rem);
}

.profile {
    background: white;
    min-height: 30vh;
    min-width: 10%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15));
    border-radius: 2rem;
    z-index: 4;
}

.contacts {
    background: white;
    min-height: 10vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15));
    border-radius: 0rem 0rem 2rem 2rem;
    margin-top: 60%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
}

.circle1 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2));
    top: 0%;
    left: 50%;
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    z-index: 2; /* bigger index = more front*/
}

.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2));
    bottom: 2.5%;
    left: 10%;
    height: 25rem;
    width: 25rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1; /* bigger index = more front*/
}

.user {
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}

.user h3, .contacts h3 {
    color: #0153a0;
    padding: 0rem 0rem 2rem 0rem;
}

.user img {
    height: 9.5rem;
    width: 7.5rem;
    border-radius: 2rem;
    padding-bottom: 1rem;
}

.contacts img {
    width: 3rem;
    height: 3rem;
}